{{template "head" .}}
<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <!-- Keep a small invisible div  for future usage
    mb-4 also keeps margin to following container -->
    <div class="mb-4 ">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Contactgroup Removal</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Do you really want to delete this contactgroup? Alerts won't work,
              if you still have services related to this group.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-light" type="button" data-bs-dismiss="modal">No</button>
            <button class="btn btn-primary" type="button" id="btnDeleteYes">Yes, please remove</button></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Alert groups</h3>
      </div>
      <div class="card shadow">
        <div class="card-header py-3">
            <a href="/alertgroup_add"><button type="button" class="btn btn-primary">Add a group</button></a>
        </div>
        <div class="card-body">
          <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
              <thead>
              <tr>
                <th>Groupname</th>
                <th>Contacts</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              {{ range $x := .AlertGroups }}
              <tr id="{{ $x.ContactID}}" data-id="{{ $x.ContactID}}">
              <td>{{ $x.GroupName }}</td>
                <td>{{ $x.Emails }}</td>
                <td>
                  <a href="/alertgroup_edit?id={{ $x.ContactID}}"><i class="fas fa-edit"></i></a>
                  <a href="#"><i class="fas fa-trash remove" id="delete{{$x.ContactID}}"></i></a>
                </td>
              </tr>
              {{end }}
              </tbody>
              <tfoot>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/datatables/jquery.dataTables.min.js">
</script>
<script src="/assets/datatables/dataTables.bootstrap5.min.js">
</script>
<script>$(document).ready(function() {
  $('#dataTable').DataTable({
    "pageLength": 25
  } );
} );</script>
<script>
  // catch click on remove button
  $('#dataTable').on('click', '.remove', function () {
    // get service-id from row
    var id = $(this).closest('tr').data('id');
    // save current delete-id to modal element
    var idelem = $(this).attr('id');
    // show modal window and save current ids as data-id and serviceid
    $('#deleteModal').data('id', idelem).data('alertgroupid', id).modal('show');
    //$("#deleteModal .modal-body").text("Do you really want to remove the service?");
  });

  // catch delete-"YES" from modal window
  $("body").on('click', '#btnDeleteYes', function() {
    // read data-id from modal window
    var id = $('#deleteModal').data('id');
    // read service id from tr
    var alertgroupid = $('#deleteModal').data('alertgroupid');
    // remove TR form view
    $('#' + id).parents("tr").remove();
    // call to service to alert
    $.ajax({
      type: 'POST',
      url: "/alertgroup_delete",
      data: {
        'id': alertgroupid,
        'csrf': "{{.U.UserSession.CSRF}}",
      },
      success: function(msg){
      }
    });
    // hide modal window again
    $('#deleteModal').modal('hide');
  });
</script>
{{template "footer" .}}
