{{template "head" .}}
<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <!-- Keep a small invisible div  for future usage
    mb-4 also keeps margin to following container -->
    <div class="mb-4 ">
    </div>
    <div class="container-fluid">
      <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Service Logs {{.Service.Name}}</h3>
      </div>
      <div class="card shadow">
        <div class="card-header">
          <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/services">
            <i class="text-white-50"></i>Back to services</a>
          <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/service_edit?id={{.Service.ServiceID}}">
            <i class="text-white-50"></i>Edit service</a>
        </div>
        <div class="card-body">
          <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
              <thead>
              <tr>
                <th>Date</th>
                <th>To</th>
                <th>Message</th>
              </tr>
              </thead>
              <tbody>
              {{ range $x := .ServiceLogs }}
              <tr id="{{ $x.ServiceID}}" data-id="{{ $x.ServiceID}}">
                <td>{{ $x.Date}}</td>
                <td>{{ $x.Status_To}}</td>
                <td>{{ $x.Why}}</td>
              </tr>
              {{end }}
              </tbody>
              <tfoot>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    {{template "cfooter" .}}
  </div>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js">
</script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js">
</script>

<script>$(document).ready(function() {
  $('#dataTable').DataTable({
    "pageLength": 25,
    "aaSorting": [],
    'rowCallback': function(row, data, index) {
      if(data[1] === "UP") {
        $(row).find('td:eq(1)').css('background-color', '#84e0a5');
        $(row).find('td:eq(1)').css('color', '#ffffff');
      } else {
        $(row).find('td:eq(1)').css('background-color', '#b51026');
        $(row).find('td:eq(1)').css('color', '#ffffff');
      }
    }
  });
});
</script>
{{template "footer" .}}
